.flex
{
    display: flex;
    justify-content: center;
    align-items: center;
}

a
{
    text-decoration: none;
}

header, footer
{
    min-height: 15vh;
    background-color: #2d3436;
    text-align: center;
    padding: 10px;
}

header h1
{
    color: #74b9ff;
}

header h1 span
{
    color: #dfe6e9;
}

main
{
    min-height: 70vh;
    background-color: #dfe6e9;
    text-align: center;
    padding: 20px;
}

main h4
{
    color: #2d3436;
    font-size: 2rem;
}

main h4 span
{
    color: #0984e3;
    font-size: 3rem;
}

.social-icons
{
    width: 100%;
    justify-content: space-evenly;
}

.social-icons a
{
    color: #dfe6e9;
    font-size: 2rem;
}
